header {
    position: absolute;
    width: 1152px;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #0067A3;
}

.applogo {
    position: absolute;
    width: 384px;
    height: 45px;
    left: 14px;
    top: 5px;
}

.logo {
    display: inline-block;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0px;
    top: 0px;
}

.app-logo {
    position: absolute;
    width: 384px;
    height: 45px;
    left: 14px;
    top: 5px;
}

footer {
    position: absolute;
    width: 1152px;
    height: 55px;
    left: 0px;
    top: 645px;
    background: #0067A3;
}

.active-task {
    position: absolute;
    width: 145px;
    height: 21px;
    left: 67px;
    top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

.finish-task {
    position: absolute;
    width: 163px;
    height: 21px;
    left: 241px;
    top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.by {
    position: absolute;
    width: 283px;
    height: 21px;
    left: 849px;
    top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.headertext {
    display: inline-block;
    position: absolute;
    width: 331px;
    height: 26px;
    left: 53px;
    top: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.create-list {
    position: absolute;
    width: 181px;
    height: 33px;
    left: 858px;
    top: 11px;
}

.add-list {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 8px;
    top: 4px;
}

.icon {
    position: absolute;
    left: 4.17%;
    right: 4.17%;
    top: 4.17%;
    bottom: 4.17%;
}

.Create-new-list {
    position: absolute;
    width: 140px;
    height: 18px;
    left: 44px;
    top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.vector {
    position: absolute;
    left: 17.29%;
    right: 17.2%;
    top: 14.78%;
    bottom: 1.6%;
}

.ellipse {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background: #FFFFFF;
}

.Rectangle {
    position: absolute;
    width: 181px;
    height: 33px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 5px;
}

.arrow-down {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 40px;
    top: 8px;
}

.vect {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -1.56%;
    bottom: 1.56%;
}

.arrow {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 34.21%;
    bottom: 34.9%;
    background: #FFFFFF;
}

.user-menu {
    position: absolute;
    width: 64px;
    height: 40px;
    left: 1088px;
    top: 7px;
}

.user-avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}