body {
    padding: 30px;
}

header {
    background: lightblue;
    flex: 0 1 100%;
}

section {
    background: lightgreen;
    width: 70%;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}

aside {
    background: pink;
    width: 30%;
}

header, article, section, .module {
    padding: 1rem;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex2 {
    display: flex;
    flex-direction: column wrap;
}